{% extends 'layout.html' %}

{% load static %}
{% block title %} Pkes_Services {% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}

<!-- CSS -->
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'app/css/home.css'%}"> -->
{% endblock %}
 

{% block content %}
<!-- CONTENT -->
<div class="continer" style="margin-top: 100px;background: #d5d2d4;padding: 15px;">

<!-- SERVICES -->

    <div class="container">
        <div class="container-fluid" style="display: block;">
            <h2 class= "display-3 text-capitalize mb-3 text-center fst-italic">
                Nuestros servicios
            </h2>
        </div><hr>
        
        <div class="row">

            <!-- TITLE -->
                        <!-- CARDS -->
            {% for service in services %}   
            <!-- CARDS -->
            <div class="card col-md-4 col-xs-12 m-5" style="width: 18rem;border-radius: 10px; background-color: rgba(255, 255, 255, 0.219);border: none;">
                <img src="{{service.image.url}}" class="card-img-top mt-2" alt="Servicio" style="border-radius: 5%;">
                    
                <div class="card-body">
                    <h5 class="card-title text-center">{{service.name}}</h5>
                    <p class="card-text" style="text-align: justify;height: 125px; padding: 5px;">{{service.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>        
    </div>


</div>
{% endblock %}