{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
{% endblock %}


	<div class="container">
		<nav class="navbar navbar-expand-lg bg-primary navbar-light" style="border-radius: 3px;">
	  
			<div class="container text-light">
	
				<a class="btn btn-primary text-light" href="{% url 'store' %}" style="background-color: rgba(89, 49, 126, 0.256);">P'keStore</a>
						
				<!-- <a href="#"class="btn btn-success ms-auto mx-3 ">Login</a> -->
	
				<div class="row mx-1">

					<a type="button" class="btn btn-primary" href="{% url 'cart' %}" style="border-radius: 100px;">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
						</svg></a>
														
					<div class="p-1 circle-total-cart col"><p id="cart-total">{{cartItems}}</p></div>
				</div>
		
			</div>
	
		</nav>
	
		<div class="container p-0 my-0">
				<hr style="height: 2px; color:#d72ce7;">
		</div>
	</div>
	
	