{% extends 'layout.html' %}

{% load static %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'app/css/gallery.css'%}">

<link rel="stylesheet" href="{% static 'app/css/gal_casual.css'%}">


{% endblock %}

{% block content %}

<main style="position: relative; margin-top: 150px;background: #d5d2d4;">
    <div style="padding-bottom: 0px; margin-bottom: 0px;">
        <a href="{% url 'Gallery'  %}"><span class="btn bg-0 text-left boton">volver a la galeria</span></a> 
        <h2 style="text-align: center;color: #370244;padding: 0px; margin: 0px;">Colección Casual</h2>
    </div>
    
    <div class="gallery-container" >
        
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/casual/casual1.jpg' %}">
                <img src="{% static 'app/img/casual/casual1.jpg' %}" alt="" class="gallery__img"></a>        
            <h2 class="gallery__title">Love</h2>
        </div>
    
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/casual/casual2.jpg' %}">
                <img src="{% static 'app/img/casual/casual2.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Pale Violet Red</h2>
        </div>
    
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/casual/casual3.jpg' %}">
                <img src="{% static 'app/img/casual/casual3.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Blue</h2>
        </div>
        
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/casual/casual4.jpg' %}">
                <img src="{% static 'app/img/casual/casual4.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Dark Blue</h2>
            </div>
    
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/casual/casual5.jpg' %}">
                <img src="{% static 'app/img/casual/casual5.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Orange</h2>
        </div>
    </div>

</main>


{% endblock %}



