{% extends 'base.html' %}

{% load static %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'app/css/galeria.css'%}">

<link rel="stylesheet" href="{% static 'app/css/gal_personalizados.css'%}">


{% endblock %}

{% block contenido %}

<main style="position: relative; margin-top: 100px;background: rgba(225, 148, 248, 0.781);">
    <div style="padding-bottom: 0px; margin-bottom: 0px;">
        <a href="{% url 'Galeria'  %}"><span class="btn bg-0 text-left boton">volver a la galeria</span></a> 
        <h2 style="text-align: center;color: #ffffff;padding: 0px; margin: 0px;">Personalizados</h2>
    </div>
    
    <div class="gallery-container" >
        
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado1.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado1.jpg' %}" alt="" class="gallery__img"></a>        
            <h2 class="gallery__title">Magia</h2>
        </div>
    
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado2.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado2.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Diversidad</h2>
        </div>
    
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado3.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado3.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Intenso</h2>
        </div>
        
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado4.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado4.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Realista</h2>
            </div>
    
        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado5.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado5.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Mistico</h2>
        </div>

        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado6.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado6.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Pasarela</h2>
        </div>

        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado7.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado7.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Culturas</h2>
        </div>

        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado8.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado8.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Unicos</h2>
        </div>

        <div class="gallery__item">
            <a data-fancybox="gallery" href="{% static 'app/img/personalizados/personalizado9.jpg' %}">
                <img src="{% static 'app/img/personalizados/personalizado9.jpg' %}" alt="" class="gallery__img"></a>
            <h2 class="gallery__title">Versatil</h2>
        </div>
    </div>

</main>


{% endblock %}



