{% extends 'layout.html' %}

{% load static %}
{% block title %} Pkes_Store {% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

    <h2> Store</h2>
    
    <section class="py5 container" style="margin-top: 100px;">
        <div class="container">
            <li class="nav dropdown" style= 'text-decoration: none;'>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name|title }}</a></li> 
                  {% endfor %}
                </ul>
                
              </li>
        </div>
       
    </section>

    <!-- <section class="py-5 text-center container"> 
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section> -->


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2  row-cols-md-5 g-3 mt-5">

                {% for pruduct in products %}

                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                        
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal"style="text-align:center">{{ pruduct.category }}</h4>
                            </div>
                      
                            <div class="card-body">
                                <img class="img-fluid" alt="Responsive image" src="{{ pruduct.image.url }}" style="width:300px">
                                <h1 class="card-title pricing-card-title fs-2" style= "color:green">{{ pruduct.price }}<small class="text-muted fw-light">/Ud.</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><P class="fs-3">{{ pruduct.title|title}}</p></li>
                                    <li>{{ pruduct.description }}</li>
                                </ul>

                                                           
                              <p><a href="{{ pruduct.get_absolute_url }}">{{ pruduct.title }}</a></p>

                            </div>
                        </div>
                    </div>       
                                
                {% endfor %}
            </div>
        </div>
    </div>
    
             
    
    
</div>    
    

    


{% endblock %}
