:root {
    --color-blue-medium: #d68fe4;
    --color-purple: #d72ce7;
    --color-gray: #ccc;
    --color-gray-medium: #f8f9fa;
    --color-yellow: #fac32c;
  }

.contactform{
	margin: 120px 0px auto;
	border-radius: 5px;
	padding: 1px 0px;
}

.tableform{
	padding: 20px 0px;
}

.btn{
	width: 100%;
	background-color: rgb(170, 140, 170);
	border: 0ch;
}

.btn:hover{
	width: 100%;
	background-color: rgb(121, 24, 121);
	border: 0ch;
}

